site_name: XUJG Site
site_url: https://xjg-0216.github.io
site_author: xujg
site_description: XUJG Site

# [Navigtion]
nav:
  - GIT:
    - GIT/01-git.md
    - GIT/02-git_lfs.md
  - 工具:
    - docker:
      - TOOL/docker/01-docker-install.md
      - TOOL/docker/02-docker-commands.md
    - ubuntu:
      - TOOL/ubuntu/01-timeshift.md
      - TOOL/ubuntu/02-apt.md
      - TOOL/ubuntu/04-byobu.md
      - TOOL/ubuntu/05-mount.md
      - TOOL/ubuntu/06-tar.md
      - TOOL/ubuntu/07-faiss.md
      - TOOL/ubuntu/08-scp.md
    - conda:
      - TOOL/conda.md
    - RK3588:
      - TOOL/rk3588.md
    - 共享热点:
      - TOOL/network.md
    - vscode远程免密连接:
      - TOOL/vscode-remote-auto-conn.md
  # - 算法:
  #   - Algorithm/01-kalman.md  
  - 图像处理:
    - ISP:
      - IMAGE_PROCESS/isp/isp_pipeline.md
    - opencv:
      - IMAGE_PROCESS/opencv/01-mat.md
    - ByteTrack:
      - IMAGE_PROCESS/bytetrack.md
    - NetVLAD:
      - IMAGE_PROCESS/NetVLAD.md
    - IMAGE_PROCESS/01-img0.md
    - IMAGE_PROCESS/02-OpenDroneMap.md
    - IMAGE_PROCESS/03-reprojection.md
    - IMAGE_PROCESS/04-ord.md
  - LLM:
    # - LLM/00-LLM简介.md
    # - LLM/01-模型文件格式以及框架.md
    - LLM/00-LLM学习路线.md
    - LLM/02-ollama使用.md
    - LLM/03-DDPM.md
    - LLM/04-bigram_language_model.md
    - LLM/05-miniGPT.md
    - LLM/06-nanoGPT.md
    - LLM/07-mfu.md
  - C++:
    - tool:
      - C++/vscode/00-make.md 
      - C++/vscode/01-g++.md
      - C++/vscode/02-compile.md
      - C++/vscode/03-dbg.md
      - C++/vscode/04-debug.md
      - C++/vscode/05-cmake.md
      - C++/vscode/06-cmake-compile-step.md
      - C++/vscode/07-cmake-compile.md
      - C++/vscode/08-vscode-debug.md
      - C++/vscode/a1-vscode-compile.md
    - 语法:
      - C++/01-class1.md
      - C++/02-class2.md
      - C++/03-class3.md
      - C++/00-stl.md
      - C++/04-memory.md
      - C++/05-argv.md
      - C++/06-char.md
      - C++/07-const.md
      - C++/08-point_reference.md
      - C++/09-type_modify.md
      - C++/10-type_convert.md
      - C++/11-define.md
      - C++/12-multi_thread.md
      - C++/13-lambda.md
      - C++/14-std_function.md
      - C++/15-l_r_value.md
      - C++/16-function_template.md
      - C++/question.md
      - C++/hdf5.md
  # - 计算机网络:
  #   - computer_network/01-client_server.md
  - UAV:
    - UAV/01-elevation.md
    - UAV/02-Flight_attitude.md
    - UAV/03-livox_ros_driver.md
    - UAV/04-intro.md
  - 模型部署:
    - deploy/01-rknn.md
    # - deploy/onnx.md
    # - deploy/video.md
    # - deploy/npu.md
    # - deploy/cpu.md
  - 其他:
    - Learn/index.md
  - deepLearning:
    - deepLearning/01-transformer.md
    - deepLearning/02-ViT.md
    - deepLearning/03-bert.md
    - deepLearning/04-mae.md
    - deepLearning/05-gpt.md
    - deepLearning/triplet_loss.md

# [UI]
# [top]

theme:
  name: material
  # [切换日间模式和夜间模式]
  # https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#color-palette-toggle
  palette:
    # 日间模式
    - scheme: default
      # 主颜色
      # https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#primary-color
      primary: indigo
      # 链接等可交互元件的高亮色
      # https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#accent-color
      accent: orange
      toggle:
        # 图标
        icon: material/weather-night
        # 鼠标悬浮提示
        name: 切换至夜间模式
    # 夜间模式
    - scheme: slate
      primary: indigo
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: 切换至日间模式
  features:
    # 使用 Tab 来进行分类
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-tabs
    - navigation.tabs
    # 返回顶部的按钮，在上滑时出现
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#back-to-top-button
    - navigation.top
    # 给每个 Tab 添加一个 index.md，且在点击 Tab 时打开
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#section-index-pages-with-section-index-pages
    - navigation.indexes
    # 打开 Tab 时左侧目录全部展开
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-expansion
    - navigation.expand
    # 搜索输入一些字母时推荐补全整个单词
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/#search-suggestions
    - search.suggest
    # 搜索的关键词文章加入高亮
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/#search-highlighting
    - search.highlight
    # 可以通过按钮复制代码
    # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#code-copy-button
    - content.code.copy
    # [点击按钮跳转至 GitHub 修改 Markdown 源文件]
    # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
    - content.action.edit
    #痕迹导航
    - navigation.path
  language: zh # 一些提示性的文字会变成中文
  icon:
    # [添加 GitHub 仓库]
    # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#repository-icon
    repo: fontawesome/brands/github
# [点击按钮跳转至 GitHub 修改 Markdown 源文件]
# https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
edit_uri: edit/main/docs/
# [top-right corner]
# [添加 GitHub 仓库]
# https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/
repo_url: https://github.com/Xjg-0216/xjg-0216.github.io
repo_name: xjg-0216.github.io



# [Extensions]
plugins:
  # [搜索功能]
  # https://squidfunk.github.io/mkdocs-material/plugins/search/
  # 之前中文搜索是 Insider 的功能（https://squidfunk.github.io/mkdocs-material/blog/2022/chinese-search-support/），现在好像已经是默认功能了，
  - search:
      lang:
        - zh
        - en
        - ja
  # [给单篇文章添加标签]
  # https://squidfunk.github.io/mkdocs-material/setup/setting-up-tags/
  # https://squidfunk.github.io/mkdocs-material/plugins/tags/#meta.tags
  - tags
  # - social
markdown_extensions:
  # [数学公式支持]
  # https://squidfunk.github.io/mkdocs-material/reference/math/#katex
  - pymdownx.arithmatex:
      generic: true
  # [图片功能支持]
  # https://squidfunk.github.io/mkdocs-material/reference/images/
  # 给 Markdown 图片语法后面添加 `{width="300"}` 设置大小
  - attr_list
  - md_in_html
  # [给标题添加链接]
  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown/#+toc.permalink
  - toc:
      permalink: true # 固定标题位置为当前位置
  # [代码语法高亮]
  # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#code-blocks
  # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#highlight
  - pymdownx.highlight:
      # 显示行号
      linenums: true
      # 显示编程语言名称
      auto_title: true
      # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#+pymdownx.highlight.line_spans
      line_spans: __span
      # https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown-extensions/#+pymdownx.highlight.pygments_lang_class
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  # [Markdown 提示]
  # https://squidfunk.github.io/mkdocs-material/reference/admonitions/
  - admonition
  - pymdownx.details
  # [Markdown footnote 语法支持]
  # https://squidfunk.github.io/mkdocs-material/reference/footnotes/
  - footnotes
  - pymdownx.tilde  # 支持删除线
  - pymdownx.mark  # 支持背景高亮
  - tables  # 改进表格显示
  # - abbr  # 支持扩展引用块
  - def_list  # 支持定义列表
  # - smartypants  # 智能引用
  - pymdownx.emoji  # 支持Emoji
  # - autolink  # 自动将URL转换为链接
  # - headerid  # 为标题添加锚点
  # - pymdownx.charts  # 支持插入图表fsss
  # - tasklist  # 支持任务列表语法
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
extra_javascript:
  # [数学公式支持]
  # https://squidfunk.github.io/mkdocs-material/reference/math/#katex
  - mkdocs/javascripts/katex.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js
extra_css:
  # [数学公式支持]
  # https://squidfunk.github.io/mkdocs-material/reference/math/#katex
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  # # [自定义 css]
  # # 不使用底部的翻页
  - mkdocs/css/no-footer.css
  # # 无序列表符号自定义
  # - mkdocs/css/unordered-list-symbols.css
